@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavenderblush;
}
a {
  text-decoration: none;
  text-align: center;
  color: lavenderblush;
}
p {
  font-size: 1.25rem;
}
